body {
  font-family: 'Muli', sans-serif;
  color: white;
  font-size: 1.5vw;
  background-color: #C5E0F3;
}

h1 {
  font-family: 'Muli', sans-serif;
  color: white;
}

/** Header. */
header {
    width: 100%;
    position: fixed;
    z-index: 1000;
}

 #navbar {
  display: flex;
  list-style-type: none;
  font-size: 20px;
  justify-content: flex-end;
  margin-top: 20px;
  height: 65px;
}

li {
  margin: 20px;
  margin-right: 40px;
  font-family: 'Muli', sans-serif;
}

#logo {
  margin-right: auto;
}

li a {
  color: white;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}

.nav-colored {
  background-color: #70AFDE;
}
.nav-transparent {
  background-color: transparent;
}

/** Base Background. */
.swoosh {
  text-align: center;
  position: fixed;
  margin-top: 150px;

}

.clouds {
  text-align: center;
  position: fixed;
}

.blobs {
  text-align: center;
  position: fixed;
  animation: float 5s;
  animation-iteration-count:infinite;
  animation-timing-function: ease-in-out;
}

@keyframes float {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 25px); }
    to   { transform: translate(0, -0px); }    
}


/** Contact Page. */

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 2px solid white;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 32px;
  resize: vertical;
  font-family: 'Muli', sans-serif;
}

input[type=submit] {
  background-color: white;
  color: #70AFDE;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  font-family: 'Muli', sans-serif;
  font-size: 15px;
}

input[type=submit]:hover {
  background-color: #70AFDE;
  color: white;
}

.contact-page{
  position: relative;
}

.contact-header {
  text-align: center;
}

.container-contact-page {
  padding: 0px 400px;
  position: absolute;
  margin-top: 50px;
  align-content: center;
}

#message {
  border-radius: 10px;
}

/** Portfolio Page. */

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}
.row>div {
  flex: 0 50%;
}

.portfolio {
    height: 1000px;
    margin: auto;
    position: relative;
}

.pictures {
    position: absolute;
    margin-top: 10%;
    margin-left: 15%;
}

.responsive {
  width: 100%;
  height: auto;
}

.item:hover {
  transform: scale(1.1, 1.1);
}

/**About Me Page.*/


.pfp2{
  width: 20%;
  height: auto;
  padding-left: 10%;
  padding-bottom: 5%;
   position: absolute;
  top: 150%;
}

.blob-two-text {
  width: 140%;
  height: auto;
  color: white;
  position: absolute;
  top: 790px;
  line-height: 2;
  text-align: right;
}

.blob-two-text-body {
  width: 80%;
  height: auto;
  color: white;
  position: absolute;
  top: 150%;
  line-height: 3;
  text-align: right;
  padding-bottom: 5%;
}

.container-blob-three {
  position: relative;
  text-align: center;
}

.blob-three-text {
  color: white;
  text-align: center;
  padding-top: 200px;
  font-size: 50px;
}


#word1 {
  position: absolute;
  display: block;
  top: 125%;
  left: 22.5%;
} 

#word2 {
  position: absolute;
  display: none;
  top: 110%;
  left: 23%;
} 

#word3 {
  position: absolute;
  display: none;
  top: 125%;
  left: 21%;
} 

#word4 {
  position: absolute;
  display: none;
  top: 125%;
  left: 21%;
} 

#word5 {
  position: absolute;
  display: none;
  top: 125%;
  left: 21%;
}        
        