body {
  font-family: 'Muli', sans-serif;
  color: white;
  font-size: 25px;
  background-color: #C5E0F3;
}

h1 {
  font-family: 'Muli', sans-serif;
  color: white;
}

/** Header. */
header {
    width: 100%;
    position: fixed;
    z-index: 1000;
}

 #navbar {
  display: flex;
  list-style-type: none;
  font-size: 20px;
  justify-content: flex-end;
  margin-top: 20px;
  height: 65px;
}

li {
  margin: 20px;
  margin-right: 40px;
  font-family: 'Muli', sans-serif;
}

#logo {
  margin-right: auto;
}

li a {
  color: white;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}

.nav-colored {
  background-color: #70AFDE;
}
.nav-transparent {
  background-color: transparent;
}

/** Base Background. */
.swoosh {
  text-align: center;
  position: fixed;
  margin-top: 150px;

}

.clouds {
  text-align: center;
  position: fixed;
}

.blobs {
  text-align: center;
  position: fixed;
  animation: float 5s;
  animation-iteration-count:infinite;
  animation-timing-function: ease-in-out;
}

@keyframes float {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 25px); }
    to   { transform: translate(0, -0px); }    
}


/** Contact Page. */

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 2px solid white;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 32px;
  resize: vertical;
  font-family: 'Muli', sans-serif;
}

input[type=submit] {
  background-color: white;
  color: #70AFDE;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  font-family: 'Muli', sans-serif;
  font-size: 15px;
}

input[type=submit]:hover {
  background-color: #70AFDE;
  color: white;
}

.contact-page{
  position: relative;
}

.contact-header {
  text-align: center;
}

.container-contact-page {
  padding: 0px 400px;
  position: absolute;
  margin-top: 50px;
  align-content: center;
}

#message {
  border-radius: 10px;
}

/** Portfolio Page. */

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.portfolio {
    height: 1000px;
    margin: auto;
    position: relative;
}

.pictures {
    position: absolute;
    margin-top: 140px;
    margin-left: 130px;
}

.item:hover {
  transform: scale(1.1, 1.1);
}

/**About Me Page.*/
.container-blob-two {
  position: relative;
  text-align: right;
}

.pfp2{
  width: 300px;
  height: 300px;
  position: absolute;
  top: 775px;
  left: 320px;
  padding-bottom: 250px;
}

.blob-two-text {
  color: white;
  position: absolute;
  top: 770px;
  left: 920px;
  line-height: 2;
}

.blob-two-text-body {
  color: white;
  position: absolute;
  top: 860px;
  left: 720px;
  line-height: 2.5;
  text-align: right;
}

.container-blob-three {
  position: relative;
  text-align: left;
}

.blob-three-text {
  color: white;
  position: absolute;
  top: 200px;
  left: 650px;
  font-size: 50px;
}

#word1 {
  position: absolute;
  display: block;
  top: 345px;
  left: 350px;
} 

#word2 {
  position: absolute;
  display: none;
  top: 295px;
  left: 350px;
} 

#word3 {
  position: absolute;
  display: none;
  top: 345px;
  left: 325px;
} 

#word4 {
  position: absolute;
  display: none;
  top: 345px;
  left: 300px;
} 

#word5 {
  position: absolute;
  display: none;
  top: 345px;
  left: 310px;
}        
        